* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: linear-gradient(135deg, #6d4c40, #40241a, #5d473f); 


}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(135deg, #6d4c40, #40241a, #5d473f); 
    color: #fdf9db;
    padding: 20px 0; 
    margin-top: auto; 
    z-index: 1000;
    text-align: center; 

}


footer a {
    color: #fdf9db;
    text-decoration: none;
    margin: 0 15px; 
}
.tipografia {
    color: #fdf9db;
    font-family: 'Monoton';
    font-size: 24px;
    margin-top: 10px;
}

p{
    color: #fdf9db; 
}
